# Analytical application

> This application helps you explore the penguins dataset

Made with ❤️ by **[Ploomber cloud](https://platform.ploomber.io/)**.

## Any feedback?
We'd love to hear your feedback, and you'll get free compute, credits and Ploomber swag.

Set a [short meeting](https://calendly.com/d/d2s-xd9-4r9/ploomber-founders), or [fill out this form](https://ploomber.io/contact/) to learn more.

In [1]:
from urllib.request import urlretrieve

import ipywidgets as widgets
import matplotlib.pyplot as plt
from jinja2 import Template

from sql.ggplot import ggplot, aes, geom_boxplot, geom_histogram, facet_wrap

In [2]:
_ = urlretrieve("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv", "penguins.csv")

In [5]:
%load_ext sql
%sql duckdb://
%config SqlMagic.displaycon = False

Found pyproject.toml from '/Users/idomi/Documents/ploomber/cloud-backend'

In [ ]:
%%sql
CREATE TABLE penguins AS
SELECT *
FROM 'penguins.csv'
WHERE SEX IS NOT NULL

In [ ]:
%%capture
%%sql
CREATE TEMPORARY TABLE filtered_penguins AS
SELECT *
FROM penguins
WHERE species = 'Adelie'
  AND island = 'Biscoe'
  AND (sex = 'MALE' or sex = 'FEMALE');

UPDATE filtered_penguins
SET island = 'Dream', species = 'Gentoo';

INSERT INTO penguins
SELECT * FROM filtered_penguins;

DROP TABLE filtered_penguins;

In [ ]:
%%capture
%%sql
CREATE TEMPORARY TABLE filtered_penguins AS
SELECT *
FROM penguins
WHERE species = 'Gentoo'
  AND island = 'Biscoe'
  AND (sex = 'MALE' or sex = 'FEMALE');

UPDATE filtered_penguins
SET island = 'Torgersen';

INSERT INTO penguins
SELECT * FROM filtered_penguins;

DROP TABLE filtered_penguins;

In [ ]:
%%capture
%%sql
CREATE TEMPORARY TABLE filtered_penguins AS
SELECT *
FROM penguins
WHERE species = 'Gentoo'
  AND island = 'Biscoe'
  AND (sex = 'MALE' or sex = 'FEMALE');

UPDATE filtered_penguins
SET species = 'Chinstrap', island = 'Torgersen';

INSERT INTO penguins
SELECT * FROM filtered_penguins;

DROP TABLE filtered_penguins;

In [ ]:
%%capture
%%sql
CREATE TEMPORARY TABLE filtered_penguins AS
SELECT *
FROM penguins
WHERE species = 'Gentoo'
  AND island = 'Biscoe'
  AND (sex = 'MALE' or sex = 'FEMALE');

UPDATE filtered_penguins
SET species = 'Chinstrap';

INSERT INTO penguins
SELECT * FROM filtered_penguins;

DROP TABLE filtered_penguins;

In [ ]:
islands = %sql select DISTINCT(island) from penguins
islands = [island[0] for island in islands]

species = %sql select DISTINCT(species) from penguins
species = [s[0] for s in species]

sex = %sql select DISTINCT(sex) from penguins
sex = [s[0] for s in sex]

In [ ]:
from IPython import get_ipython
ip = get_ipython()
sql_magic = ip.find_cell_magic("sql")

## Data selection

> Multiple values can be selected with shift and/or ctrl (or command) pressed and mouse clicks or arrow keys.

In [ ]:
widget_island = widgets.SelectMultiple(
    options=islands,
    description='Island',
    value=islands,
)

widget_species = widgets.SelectMultiple(
    options=species,
    description='Species',
    value=species,
)


widget_sex = widgets.SelectMultiple(
    options=sex,
    description='Sex',
    value=sex,
)

button = widgets.Button(
    description='Click me',
    tooltip='Plot',
)


widgets.TwoByTwoLayout(top_left=widget_island,
               bottom_left=widget_species,
               bottom_right=widget_sex)

In [ ]:
output1 = widgets.Output()
output2 = widgets.Output()
output3 = widgets.Output()
output4 = widgets.Output()

In [ ]:
def compile_query(islands, species, sex):
    islands_in = ", ".join(repr(i) for i in islands)
    species_in = ", ".join(repr(i) for i in species)
    sex_in = ", ".join(repr(i) for i in sex)
    return Template("""
    SELECT * FROM penguins
    WHERE ISLAND IN ({{islands_in}})
    AND SPECIES IN ({{species_in}})
    AND SEX IN ({{sex_in}})
    """).render(islands_in=islands_in,
               species_in=species_in,
               sex_in=sex_in)

In [ ]:
def plot_factory(column, fill):
    def plot():
        p = (ggplot("plotdata", with_="plotdata", mapping=aes(x=column))
                 + geom_histogram(bins=20, fill=fill))
        p.figure.axes[0].set_title(f"{column} by {fill}")
        plt.show(p.figure)
        return p
    
    return plot
    
mass_by_island = plot_factory("body_mass_g", "island")
mass_length_mm_by_species = plot_factory("body_mass_g", "species")
mass_length_mm_by_sex = plot_factory("body_mass_g", "sex")

In [ ]:
def button_clicked(button):
    output1.clear_output()
    output2.clear_output()
    output3.clear_output()
    output4.clear_output()
    
    q = compile_query(widget_island.value,
                      widget_species.value,
                      widget_sex.value)
    
    ip.run_cell_magic("sql", "--save plotdata", q)

    with output1:
        mass_by_island()

    with output2:
        mass_length_mm_by_species()

    with output3:
        mass_length_mm_by_sex()

    with output4:
        from IPython.display import display
        display(ip.run_cell_magic("sql", "", "SELECT * FROM plotdata"))



button = widgets.Button(
    description='Plot',
    tooltip='Plot the data',
)    

button.on_click(button_clicked)
button

## Plots

In [ ]:
widgets.TwoByTwoLayout(top_left=output1,
                       top_right=output2,
                       bottom_left=output3)

## Data preview

In [ ]:
output4